In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import sklearn.metrics as metrics
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import 1DecisionTreeRegressor
import pickle
import seaborn as sns

C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df=df.dropna()

In [5]:
df['rooms'] = df['size'].apply(lambda x: x.split(' ')[0])

C:\Users\anurag\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df = df.drop(columns='size')

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

,area_type,availability,location,society,total_sqft,bath,balcony,price,rooms
0,Super built-up Area,19-Dec,Electronic City Phase II,Coomee,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,Theanmp,2600,5.0,3.0,120.00,4
2,Super built-up Area,Ready To Move,Lingadheeranahalli,Soiewre,1521,3.0,1.0,95.00,3
3,Super built-up Area,Ready To Move,Whitefield,DuenaTa,1170,2.0,1.0,38.00,2
4,Plot Area,Ready To Move,Whitefield,Prrry M,2785,5.0,3.0,295.00,4
...,...,...,...,...,...,...,...,...,...
7491,Super built-up Area,Ready To Move,Uttarahalli,Aklia R,1345,2.0,1.0,57.00,3
7492,Super built-up Area,Ready To Move,Green Glen Layout,SoosePr,1715,3.0,3.0,112.00,3
7493,Built-up Area,Ready To Move,Whitefield,ArsiaEx,3453,4.0,0.0,231.00,5
7494,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,Mahla T,1141,2.0,1.0,60.00,2
7495,Super built-up Area,18-Jun,Padmanabhanagar,SollyCl,4689,4.0,1.0,488.00,4

In [9]:
df = df.drop(columns=['availability', 'balcony'])

In [10]:
df

,area_type,location,society,total_sqft,bath,price,rooms
0,Super built-up Area,Electronic City Phase II,Coomee,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,Theanmp,2600,5.0,120.00,4
2,Super built-up Area,Lingadheeranahalli,Soiewre,1521,3.0,95.00,3
3,Super built-up Area,Whitefield,DuenaTa,1170,2.0,38.00,2
4,Plot Area,Whitefield,Prrry M,2785,5.0,295.00,4
...,...,...,...,...,...,...,...
7491,Super built-up Area,Uttarahalli,Aklia R,1345,2.0,57.00,3
7492,Super built-up Area,Green Glen Layout,SoosePr,1715,3.0,112.00,3
7493,Built-up Area,Whitefield,ArsiaEx,3453,4.0,231.00,5
7494,Built-up Area,Raja Rajeshwari Nagar,Mahla T,1141,2.0,60.00,2
7495,Super built-up Area,Padmanabhanagar,SollyCl,4689,4.0,488.00,4

In [11]:
df1 = df.loc[df['total_sqft'].str.contains('-')]
df = df.loc[~df['total_sqft'].str.contains('-')]

In [12]:
df1

,area_type,location,society,total_sqft,bath,price,rooms
17,Super built-up Area,Yelahanka,LedorSa,2100 - 2850,4.0,186.000,4
66,Super built-up Area,Hebbal,SNontle,3067 - 8156,4.0,477.000,4
76,Super built-up Area,8th Phase JP Nagar,Vaarech,1042 - 1105,2.0,54.005,2
92,Super built-up Area,Sarjapur,Kinuerg,1145 - 1340,2.0,43.490,2
109,Super built-up Area,KR Puram,MCvarar,1015 - 1540,2.0,56.800,2
...,...,...,...,...,...,...,...
7297,Super built-up Area,Whitefield,Bhath N,850 - 1060,2.0,38.190,2
7307,Super built-up Area,Talaghattapura,Sodgere,1804 - 2273,3.0,122.000,3
7348,Super built-up Area,Harlur,Shodsir,1200 - 1470,2.0,72.760,2
7464,Super built-up Area,Hoodi,Ranuetz,1133 - 1384,2.0,59.135,2
7488,Super built-up Area,Whitefield,Prtates,2830 - 2882,5.0,154.500,4

In [13]:
df

,area_type,location,society,total_sqft,bath,price,rooms
0,Super built-up Area,Electronic City Phase II,Coomee,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,Theanmp,2600,5.0,120.00,4
2,Super built-up Area,Lingadheeranahalli,Soiewre,1521,3.0,95.00,3
3,Super built-up Area,Whitefield,DuenaTa,1170,2.0,38.00,2
4,Plot Area,Whitefield,Prrry M,2785,5.0,295.00,4
...,...,...,...,...,...,...,...
7491,Super built-up Area,Uttarahalli,Aklia R,1345,2.0,57.00,3
7492,Super built-up Area,Green Glen Layout,SoosePr,1715,3.0,112.00,3
7493,Built-up Area,Whitefield,ArsiaEx,3453,4.0,231.00,5
7494,Built-up Area,Raja Rajeshwari Nagar,Mahla T,1141,2.0,60.00,2
7495,Super built-up Area,Padmanabhanagar,SollyCl,4689,4.0,488.00,4

In [14]:
df1[['one', 'two']] = df1['total_sqft'].str.split('-', expand=True)
df1

C:\Users\anurag\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,area_type,location,society,total_sqft,bath,price,rooms,one,two
17,Super built-up Area,Yelahanka,LedorSa,2100 - 2850,4.0,186.000,4,2100,2850
66,Super built-up Area,Hebbal,SNontle,3067 - 8156,4.0,477.000,4,3067,8156
76,Super built-up Area,8th Phase JP Nagar,Vaarech,1042 - 1105,2.0,54.005,2,1042,1105
92,Super built-up Area,Sarjapur,Kinuerg,1145 - 1340,2.0,43.490,2,1145,1340
109,Super built-up Area,KR Puram,MCvarar,1015 - 1540,2.0,56.800,2,1015,1540
...,...,...,...,...,...,...,...,...,...
7297,Super built-up Area,Whitefield,Bhath N,850 - 1060,2.0,38.190,2,850,1060
7307,Super built-up Area,Talaghattapura,Sodgere,1804 - 2273,3.0,122.000,3,1804,2273
7348,Super built-up Area,Harlur,Shodsir,1200 - 1470,2.0,72.760,2,1200,1470
7464,Super built-up Area,Hoodi,Ranuetz,1133 - 1384,2.0,59.135,2,1133,1384
7488,Super built-up Area,Whitefield,Prtates,2830 - 2882,5.0,154.500,4,2830,2882

In [15]:
df1['one']=df1['one'].astype(float)
df1['two']=df1['two'].astype(float)

df1['total_sqft'] = (df1['one'] + df1['two']) / 2

C:\Users\anurag\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anurag\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\anurag\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
#df1 = df1.drop(columns=['total_sqft', 'one', 'two'])

In [17]:
df1 = df1.drop(columns=['one', 'two'])

In [18]:
df = pd.concat([df, df1])

In [19]:
df['total_sqft'] = df['total_sqft'].astype(str)
df=df.loc[~df['total_sqft'].str.contains('Meter')]
df=df.loc[~df['total_sqft'].str.contains('Yards')]
df=df.loc[~df['total_sqft'].str.contains('Acre')]

In [20]:
df['total_sqft']=df['total_sqft'].astype(float)

In [21]:
df['area_sqft'] = df['price']*100000/df['total_sqft']
df

,area_type,location,society,total_sqft,bath,price,rooms,area_sqft
0,Super built-up Area,Electronic City Phase II,Coomee,1056.0,2.0,39.070,2,3699.810606
1,Plot Area,Chikka Tirupathi,Theanmp,2600.0,5.0,120.000,4,4615.384615
2,Super built-up Area,Lingadheeranahalli,Soiewre,1521.0,3.0,95.000,3,6245.890861
3,Super built-up Area,Whitefield,DuenaTa,1170.0,2.0,38.000,2,3247.863248
4,Plot Area,Whitefield,Prrry M,2785.0,5.0,295.000,4,10592.459605
...,...,...,...,...,...,...,...,...
7297,Super built-up Area,Whitefield,Bhath N,955.0,2.0,38.190,2,3998.952880
7307,Super built-up Area,Talaghattapura,Sodgere,2038.5,3.0,122.000,3,5984.792740
7348,Super built-up Area,Harlur,Shodsir,1335.0,2.0,72.760,2,5450.187266
7464,Super built-up Area,Hoodi,Ranuetz,1258.5,2.0,59.135,2,4698.847835
7488,Super built-up Area,Whitefield,Prtates,2856.0,5.0,154.500,4,5409.663866

In [22]:
df['area_sqft'].quantile([0.25, 0.5, 0.75])


df = df.loc[(df['area_sqft'] >= 4279.131007) & (df['area_sqft'] <= 6696.629213)]
df

,area_type,location,society,total_sqft,bath,price,rooms,area_sqft
1,Plot Area,Chikka Tirupathi,Theanmp,2600.0,5.0,120.000,4,4615.384615
2,Super built-up Area,Lingadheeranahalli,Soiewre,1521.0,3.0,95.000,3,6245.890861
6,Plot Area,Sarjapur,Skityer,2250.0,3.0,148.000,3,6577.777778
7,Super built-up Area,Mysore Road,PrntaEn,1175.0,2.0,73.500,2,6255.319149
13,Super built-up Area,Thanisandra,Bhe 2ko,510.0,1.0,25.250,1,4950.980392
...,...,...,...,...,...,...,...,...
7288,Super built-up Area,Thanisandra,Bhe 2ko,1533.0,3.0,75.885,3,4950.097847
7307,Super built-up Area,Talaghattapura,Sodgere,2038.5,3.0,122.000,3,5984.792740
7348,Super built-up Area,Harlur,Shodsir,1335.0,2.0,72.760,2,5450.187266
7464,Super built-up Area,Hoodi,Ranuetz,1258.5,2.0,59.135,2,4698.847835
7488,Super built-up Area,Whitefield,Prtates,2856.0,5.0,154.500,4,5409.663866

In [23]:
df = df.drop(columns='area_sqft')

In [24]:
dummies = pd.get_dummies(df['location'])
dummies

le = LabelEncoder()

df['area_type'] = le.fit_transform(df['area_type'])
df['bath']=df['bath'].astype(int)
df['rooms'] = df['rooms'].astype(int)

df = pd.get_dummies(df, columns = ['location'])

x = df['price']
y = df.drop(columns=['price', 'society'])

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

x_train = (np.array(x_train)).reshape(-1, 1)
x_test = (np.array(x_test)).reshape(-1, 1)

lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_test, y_test)

C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.884096866020415

In [25]:
from sklearn import linear_model
lasso = linear_model.Lasso(alpha=0.1)
lasso.fit(x_train, y_train)
lasso.score(x_test, y_test)

C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.0, tolerance: 0.0
  positive)
C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.8840972234344319

In [29]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=1.0)
ridge.fit(x_train, y_train)
ridge.score(x_test, y_test)

C:\Users\anurag\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.8840968854195662

In [34]:
x_test

array([[ 70.   ],
       [115.   ],
       [ 60.   ],
       [ 67.   ],
       [ 65.   ],
       [ 56.86 ],
       [122.   ],
       [ 65.   ],
       [ 65.   ],
       [ 55.   ],
       [ 68.   ],
       [ 60.   ],
       [ 66.   ],
       [ 55.   ],
       [ 36.5  ],
       [ 88.6  ],
       [ 65.   ],
       [ 57.   ],
       [ 62.35 ],
       [ 62.38 ],
       [ 82.   ],
       [ 68.   ],
       [140.   ],
       [ 69.   ],
       [129.   ],
       [ 45.   ],
       [ 59.46 ],
       [ 94.   ],
       [ 93.25 ],
       [110.   ],
       [ 52.   ],
       [103.   ],
       [ 55.   ],
       [ 35.   ],
       [ 55.   ],
       [ 75.   ],
       [ 60.   ],
       [ 79.   ],
       [ 84.   ],
       [ 45.   ],
       [150.   ],
       [129.   ],
       [ 48.   ],
       [ 64.08 ],
       [105.   ],
       [115.   ],
       [ 63.   ],
       [ 55.   ],
       [ 72.   ],
       [ 75.   ],
       [ 50.   ],
       [ 56.85 ],
       [ 79.   ],
       [122.   ],
       [ 69.85 ],
       [ 63.   ],
       [ 58.   ],
       [ 65.   ],
       [ 71.95 ],
       [ 54.35 ],
       [ 58.   ],
       [ 60.   ],
       [ 85.   ],
       [ 49.   ],
       [117.   ],
       [ 50.   ],
       [ 36.   ],
       [ 80.   ],
       [ 49.5  ],
       [ 64.08 ],
       [ 77.68 ],
       [ 42.295],
       [146.   ],
       [ 55.   ],
       [ 59.   ],
       [ 55.   ],
       [ 80.   ],
       [ 46.   ],
       [ 87.   ],
       [ 45.47 ],
       [ 75.   ],
       [ 62.   ],
       [ 68.   ],
       [ 68.   ],
       [ 24.   ],
       [ 72.02 ],
       [225.   ],
       [ 75.   ],
       [ 69.84 ],
       [120.   ],
       [ 25.   ],
       [115.   ],
       [ 89.89 ],
       [ 46.   ],
       [ 70.   ],
       [ 70.   ],
       [ 68.32 ],
       [ 69.9  ],
       [ 56.   ],
       [ 49.5  ],
       [ 70.   ],
       [ 95.   ],
       [ 87.8  ],
       [ 53.   ],
       [ 60.   ],
       [ 74.4  ],
       [ 45.   ],
       [ 60.   ],
       [ 73.5  ],
       [ 75.   ],
       [ 95.   ],
       [ 32.   ],
       [ 74.   ],
       [ 80.   ],
       [ 56.   ],
       [ 38.   ],
       [ 74.   ],
       [ 78.   ],
       [113.   ],
       [ 65.   ],
       [ 45.   ],
       [ 28.29 ],
       [ 51.   ],
       [ 57.   ],
       [ 52.   ],
       [ 78.   ],
       [110.   ],
       [ 62.   ],
       [128.   ],
       [ 83.   ],
       [ 95.   ],
       [ 55.78 ],
       [ 50.8  ],
       [ 84.29 ],
       [ 58.11 ],
       [ 64.5  ],
       [ 66.   ],
       [ 81.99 ],
       [135.   ],
       [160.   ],
       [ 57.   ],
       [120.   ],
       [ 69.   ],
       [ 62.   ],
       [113.   ],
       [ 60.   ],
       [ 34.   ],
       [ 75.   ],
       [ 45.   ],
       [ 53.11 ],
       [ 70.   ],
       [ 85.   ],
       [ 65.   ],
       [ 49.   ],
       [ 61.   ],
       [ 86.   ],
       [ 39.9  ],
       [ 60.   ],
       [ 80.   ],
       [ 52.   ],
       [ 55.   ],
       [ 80.   ],
       [ 55.   ],
       [ 60.   ],
       [ 85.   ],
       [ 65.   ],
       [ 77.   ],
       [ 64.5  ],
       [ 87.   ],
       [ 59.   ],
       [ 75.   ],
       [ 34.   ],
       [ 52.   ],
       [ 75.   ],
       [ 74.   ],
       [ 63.77 ],
       [113.   ],
       [ 55.   ],
       [ 65.   ],
       [ 62.   ],
       [ 62.   ],
       [120.   ],
       [ 45.   ],
       [130.   ],
       [ 78.   ],
       [ 50.   ],
       [ 59.   ],
       [ 57.   ],
       [ 52.   ],
       [ 75.   ],
       [ 90.   ],
       [ 70.   ],
       [ 63.   ],
       [ 72.   ],
       [ 95.23 ],
       [ 41.   ],
       [109.   ],
       [ 57.9  ],
       [ 60.5  ],
       [ 28.275],
       [228.5  ],
       [ 52.   ],
       [ 94.   ],
       [ 27.   ],
       [ 50.17 ],
       [110.   ],
       [ 85.   ],
       [131.   ],
       [ 59.47 ],
       [123.   ],
       [130.   ],
       [ 60.   ],
       [ 65.   ],
       [ 66.02 ],
       [ 50.   ],
       [ 33.   ],
       [196.   ],
       [110.   ],
       [ 60.   ],
       [ 52.   ],
       [ 45.   ],
       [ 30.   ],
       [ 60.   ],
       [220.   ],
       [ 55.   ],
       [ 65.   ],
       [ 97.   ],
       [ 83.   ],
       [ 59.   ],
       [ 90.   ],
       [ 58.56 ],
       [110.   ],
       [ 56.   ],
       [ 38.   ],
       [ 74.16 ],
       [ 67.   ],
       [ 99.   ],
       [ 85.   ],
       [ 85.5  ],
       [ 55.   ],
       [ 85.   ],
       [ 74.   ],
       [ 60.   ],
       [ 55.   ],
       [ 80.   ],
       [ 68.   ],
       [ 45.   ],
       [112.   ],
       [110.   ],
       [ 58.   ],
       [ 58.99 ],
       [ 88.   ],
       [ 60.   ],
       [ 52.   ],
       [ 45.4  ],
       [ 58.   ],
       [ 85.   ],
       [ 78.   ],
       [ 46.76 ],
       [ 49.5  ],
       [ 76.18 ],
       [138.   ],
       [ 75.   ],
       [ 59.2  ],
       [ 65.   ],
       [ 62.   ],
       [ 58.   ],
       [ 30.24 ],
       [ 65.   ],
       [ 75.   ],
       [ 55.   ],
       [ 88.   ],
       [ 72.   ],
       [ 75.17 ],
       [ 45.   ],
       [ 39.8  ],
       [ 65.   ],
       [ 61.   ],
       [ 59.935],
       [ 71.   ],
       [ 70.   ],
       [ 77.   ],
       [ 34.78 ],
       [104.   ],
       [ 61.   ],
       [ 51.25 ],
       [ 56.5  ],
       [ 54.   ],
       [ 89.   ],
       [134.   ],
       [100.   ],
       [ 72.   ],
       [ 81.94 ],
       [150.   ],
       [ 43.   ],
       [191.   ],
       [ 76.   ],
       [ 38.4  ],
       [110.   ],
       [ 40.   ],
       [ 76.18 ],
       [ 53.   ],
       [ 57.   ],
       [ 86.8  ],
       [ 85.   ],
       [ 45.   ],
       [ 60.   ],
       [ 51.22 ],
       [ 77.25 ],
       [ 63.   ],
       [ 55.91 ],
       [ 95.   ],
       [ 82.   ],
       [ 55.   ],
       [ 65.49 ],
       [ 80.   ],
       [ 70.   ],
       [ 65.26 ],
       [ 85.   ],
       [108.   ],
       [ 90.   ],
       [ 78.   ],
       [ 99.   ],
       [ 60.   ],
       [ 69.18 ],
       [ 42.   ],
       [100.   ],
       [ 63.   ],
       [150.   ],
       [ 61.5  ],
       [ 74.   ],
       [ 60.   ],
       [ 55.15 ],
       [117.   ],
       [100.   ],
       [ 90.   ],
       [117.   ],
       [ 50.   ],
       [ 58.   ],
       [ 25.   ],
       [ 71.   ],
       [ 75.885],
       [ 55.   ],
       [ 64.08 ],
       [ 27.   ],
       [ 36.   ],
       [ 28.   ],
       [119.   ],
       [ 80.54 ],
       [ 58.   ],
       [102.   ],
       [ 58.   ],
       [ 93.5  ],
       [ 50.   ],
       [100.   ],
       [ 46.   ],
       [ 67.65 ],
       [ 72.   ],
       [ 45.   ],
       [ 75.   ],
       [ 82.   ],
       [ 55.   ],
       [ 62.   ],
       [ 60.   ],
       [110.   ],
       [105.   ],
       [ 75.   ],
       [ 70.   ],
       [ 59.27 ],
       [ 61.   ],
       [ 70.   ],
       [ 75.   ],
       [ 58.   ],
       [ 57.   ],
       [ 68.   ],
       [115.   ],
       [255.   ],
       [100.   ],
       [ 59.   ],
       [120.   ],
       [ 30.   ],
       [ 94.79 ],
       [ 45.   ],
       [ 95.   ],
       [ 30.   ],
       [ 95.84 ],
       [ 58.   ],
       [ 67.   ],
       [120.   ],
       [ 53.   ],
       [ 74.03 ],
       [ 54.   ],
       [122.   ],
       [ 50.5  ],
       [ 75.   ],
       [ 73.   ],
       [ 75.   ],
       [160.   ],
       [ 80.   ],
       [ 53.   ],
       [110.   ],
       [ 86.58 ],
       [ 51.   ],
       [ 71.   ],
       [ 70.   ],
       [ 68.   ],
       [ 72.   ],
       [ 58.3  ],
       [ 68.   ],
       [ 75.   ],
       [ 77.27 ],
       [ 53.   ],
       [150.   ],
       [ 60.   ],
       [ 72.   ],
       [ 65.   ],
       [115.   ],
       [ 88.   ],
       [ 69.   ],
       [ 83.3  ],
       [ 65.   ],
       [ 52.   ],
       [ 61.   ],
       [ 87.   ],
       [ 78.   ],
       [ 85.   ],
       [ 75.   ],
       [ 41.   ],
       [ 97.83 ],
       [ 45.   ],
       [ 55.   ],
       [ 40.   ],
       [ 53.   ],
       [ 43.61 ],
       [ 25.   ],
       [ 80.5  ],
       [ 70.   ],
       [ 59.86 ],
       [140.   ],
       [ 95.   ],
       [ 59.   ],
       [139.   ],
       [ 49.   ],
       [ 45.   ],
       [ 64.   ],
       [105.   ],
       [ 66.5  ],
       [ 75.   ],
       [ 87.   ],
       [ 85.   ],
       [ 50.3  ],
       [ 29.   ],
       [125.   ],
       [ 52.   ],
       [ 89.61 ],
       [ 67.   ],
       [ 62.   ],
       [ 73.8  ],
       [ 49.97 ],
       [100.   ],
       [ 84.   ],
       [ 75.   ],
       [ 55.195],
       [ 55.   ],
       [ 83.   ],
       [ 90.   ],
       [ 53.5  ],
       [110.   ],
       [ 60.   ],
       [112.   ],
       [115.   ],
       [ 77.61 ],
       [ 87.   ],
       [ 36.   ],
       [ 57.   ],
       [134.   ],
       [ 70.   ],
       [ 55.   ],
       [150.   ],
       [ 75.   ],
       [ 70.   ],
       [ 58.   ],
       [ 72.   ],
       [ 28.   ],
       [ 80.   ],
       [ 37.32 ],
       [ 55.   ],
       [ 60.   ],
       [ 61.17 ],
       [ 70.   ],
       [ 57.   ],
       [120.   ],
       [ 58.   ],
       [ 58.   ],
       [105.   ],
       [ 42.5  ],
       [ 70.   ],
       [ 36.   ],
       [ 75.   ],
       [ 83.87 ],
       [ 68.   ],
       [ 97.42 ],
       [ 36.85 ],
       [ 80.   ],
       [ 81.   ],
       [110.   ],
       [ 43.75 ],
       [ 49.97 ],
       [ 62.   ],
       [ 55.   ],
       [ 56.   ],
       [ 52.   ],
       [ 96.5  ],
       [ 58.56 ],
       [ 54.   ],
       [121.   ],
       [ 56.   ],
       [ 55.15 ],
       [ 26.   ],
       [ 68.   ],
       [ 56.58 ],
       [ 60.   ],
       [115.   ],
       [ 57.   ],
       [ 58.68 ],
       [ 53.   ],
       [ 66.   ],
       [ 87.   ],
       [110.   ],
       [120.   ],
       [ 49.   ],
       [ 59.76 ],
       [ 53.49 ],
       [ 48.   ],
       [ 50.   ],
       [ 54.   ],
       [ 68.   ],
       [ 78.   ],
       [ 49.07 ],
       [ 63.   ],
       [ 69.   ],
       [ 75.   ],
       [ 90.2  ],
       [105.   ],
       [ 55.   ],
       [ 50.   ],
       [ 66.   ],
       [ 85.   ],
       [ 85.   ],
       [ 69.   ],
       [ 72.5  ],
       [ 77.68 ],
       [ 50.   ],
       [ 45.   ],
       [ 33.   ],
       [ 73.   ],
       [120.   ],
       [ 78.   ],
       [140.   ],
       [ 35.285],
       [ 98.   ],
       [ 60.   ],
       [ 77.   ],
       [ 84.5  ],
       [ 26.   ],
       [ 82.   ],
       [ 53.   ],
       [ 63.   ],
       [100.   ],
       [ 85.   ],
       [ 85.   ],
       [ 85.   ],
       [ 65.   ],
       [ 68.48 ],
       [ 90.   ],
       [ 79.5  ],
       [ 60.   ],
       [ 95.   ],
       [ 89.   ],
       [ 59.74 ],
       [ 73.   ],
       [ 75.   ],
       [ 59.   ],
       [ 71.74 ],
       [ 52.   ],
       [112.   ],
       [ 83.   ],
       [ 54.   ],
       [ 75.   ],
       [ 40.   ],
       [ 90.   ],
       [ 65.   ],
       [ 55.79 ],
       [115.   ],
       [ 57.   ],
       [ 65.   ],
       [130.   ],
       [ 65.   ],
       [ 44.   ],
       [ 40.   ],
       [ 60.   ],
       [ 49.5  ],
       [105.   ],
       [ 89.   ],
       [ 51.91 ],
       [ 73.   ],
       [153.5  ],
       [114.   ],
       [103.   ],
       [ 75.   ],
       [ 77.99 ],
       [ 42.   ],
       [ 80.   ],
       [100.   ],
       [ 50.   ],
       [ 80.   ],
       [154.   ],
       [ 74.   ],
       [ 70.   ],
       [ 62.   ],
       [ 58.   ],
       [ 95.   ],
       [ 57.   ],
       [ 52.   ],
       [ 72.   ],
       [ 73.   ],
       [ 90.   ],
       [ 68.   ],
       [ 86.69 ],
       [ 90.   ],
       [ 66.78 ],
       [ 52.   ],
       [ 90.   ],
       [ 71.195],
       [ 57.   ],
       [ 73.17 ],
       [ 45.5  ],
       [ 85.1  ],
       [ 73.   ],
       [ 49.   ],
       [ 64.5  ],
       [ 62.   ],
       [123.   ],
       [ 95.   ],
       [ 50.   ],
       [ 94.   ],
       [ 50.   ],
       [ 82.   ],
       [ 71.89 ],
       [ 65.   ],
       [ 68.   ],
       [100.   ],
       [ 56.   ],
       [ 80.   ],
       [ 74.   ],
       [ 56.55 ],
       [ 57.   ],
       [ 50.   ],
       [ 60.   ],
       [ 58.58 ],
       [ 36.85 ],
       [ 72.   ],
       [ 68.   ],
       [ 54.05 ],
       [ 79.19 ],
       [121.   ],
       [ 86.   ],
       [ 79.9  ],
       [ 54.3  ],
       [177.   ],
       [ 69.61 ],
       [ 59.   ],
       [ 54.59 ],
       [ 63.   ],
       [ 99.   ],
       [138.   ],
       [ 90.   ],
       [ 73.   ],
       [ 75.   ],
       [ 65.8  ],
       [ 61.   ],
       [ 44.5  ],
       [107.   ],
       [123.   ],
       [ 52.   ],
       [ 66.   ],
       [ 50.   ],
       [ 48.   ],
       [ 72.   ],
       [ 70.   ],
       [ 55.   ],
       [ 57.   ],
       [ 65.31 ],
       [ 83.87 ],
       [ 75.2  ],
       [ 68.   ],
       [ 60.   ],
       [ 55.   ],
       [ 48.76 ],
       [ 69.61 ],
       [104.   ],
       [110.   ],
       [ 94.82 ],
       [ 82.   ],
       [ 64.5  ],
       [ 48.   ],
       [ 80.   ],
       [ 53.67 ],
       [ 36.85 ],
       [ 55.   ],
       [ 95.   ],
       [ 37.   ],
       [ 86.   ],
       [ 57.   ],
       [ 78.   ],
       [127.   ],
       [ 65.   ],
       [ 60.   ],
       [134.   ],
       [ 53.   ],
       [ 76.3  ],
       [ 90.   ],
       [ 60.   ],
       [150.   ],
       [ 63.   ],
       [ 83.5  ],
       [ 65.   ],
       [170.   ],
       [ 55.   ],
       [ 58.   ],
       [ 34.   ],
       [125.   ],
       [ 54.59 ],
       [150.   ],
       [ 90.   ],
       [ 70.   ],
       [ 39.   ],
       [140.   ],
       [ 65.   ],
       [ 60.   ],
       [105.   ],
       [ 55.   ],
       [ 64.   ],
       [ 60.   ],
       [ 70.   ],
       [ 70.   ],
       [ 83.87 ],
       [100.   ]])